@model IEnumerable<Brand>
<div class="right_col" role="main">
    <div class="">
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Marka Yönetimi</h2>
                        <a asp-controller="Brand" asp-action="New" class="btn btn-success float-right" style="color:#fff">Yeni Marka</a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Marka Adı</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (Brand s in Model)
                                    {
                                        <tr class="even pointer">
                                            <td><a asp-controller="Brand" asp-action="Edit" asp-route-id="@s.ID">@s.Name</a></td>
                                            <td>
                                                <a asp-controller="Brand" asp-action="Delete" asp-route-id="@s.ID" class="btn btn-danger" style="color:#fff">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->